*{
    margin: 0;
    padding: 10px;
}

.container{
    width: 100%;
    height: 100%;
}
.box{
    position: absolute;
    top:10%;
    left:50%;
    width: 500PX;
    transform: translate(-50%,-50%);
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]{
background: #fff;
width: 340px;
height: 40px;
border: none;
outline: none;
padding: 0 25px;
border-radius: 25px 0 0 25px;
} 

input[type="submit"]
{
position: relative;
border-radius:0 25px 25px 0 ;
width: 100px;
height: 40px;
border:none ;
outline: none;
cursor: pointer;
background:#9b44a7;
color: #fff;
}

input[type="submit"]:hover{
    background: #ca0d0dd3;
    width: 60px;
}

.mappp{
    width:40%;
    height: 600px;
    float: left;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    text-align: center;
}

 .out{
 padding-left: 20px;
 width:60%;
    height: 600px;
    top:50px;
    right:-50px;
    position:absolute;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    text-align: left;
 }

.icon{
position:absolute;
top:140px;
left:250px;
}

.map{
position:absolute;
top:-170px;
right:-350px;
}